.active-tool {
    flex-basis: auto;
    flex-direction: column;
    width: 10%;
    height: 51px;
    position: relative;
    top: 13px;
    left: 817px;
    right: auto;
    bottom: auto;
    background-color: rgb(101, 101, 101);
    color: rgb(255, 255, 255);
    font-size: 35px;
}
